@model IEnumerable<GestaoEscolarWeb.Data.Entities.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>
<br />
@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn-add">Add courses</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                    <span>Actions</span>
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if (this.User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn-action-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn-action-secondary">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-action-danger">Delete</a>
                    </td>
                }

                @if (!User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn-action-primary">Details</a>
                    </td>
                }
               
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Home" class="btn-action-secondary">Back to Home</a>
</div>
