@model GestaoEscolarWeb.Data.Entities.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Student</h1>

<div>
    <flash dismissable="true" />
    <br />
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FullName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
        </div>

        <div class="col-md-4 text-center">
            <img src="@Url.Content(Model.ImageFullPath)" alt="Profile Image" class="img-thumbnail" style="max-width:200px; max-height:250px; object-fit: cover;" />
        </div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
