@model SearchViewModel<GestaoEscolarWeb.Data.Entities.Evaluation>
@{
    ViewData["Title"] = "Grades";
}


<h1>Search exams and grades</h1>


<div class="row">
    <div class="col-md-8">
        <form asp-action="Grades" method="post">
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentFullName" class="control-label"></label>
                <input asp-for="StudentFullName" class="form-control" />
                <span asp-validation-for="StudentFullName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="search" class="btn btn-primary" />
            </div>
            <flash dismissable="true" />
        </form>
    </div>
</div>

<hr />

@if (Model.IsSearchSuccessful)
{
    <h4>@Model.StudentFullName exam results:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Exam date</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div id="homonymDialog" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Homonym Students Found</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Multiple students were found with the name <strong>@Model.StudentFullName</strong>. Please select the correct student:</p>
                <ul class="list-group">
                    @foreach (var student in Model.HomonymStudents) //atribuir link da action a todos os estudantes encontrados
                    {
                        <li class="list-group-item">
                            <a href="@Url.Action("GetEvaluationsByStudentId", "Search", new { studentId = student.Id })">
                                @student.FullName (@student.Email) @*mostrar email para distinguir*@
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @*Se o modelo indicar homônimos, exibir o modal*@ 
        <script type="text/javascript">
        $(document).ready(function () {

        @if (Model.HasHomonyms)
        {
            <text>
                            $('#homonymDialog').modal('show');
            </text>
        }
        });
    </script>
}