@model SearchStudentViewModel
@{
    ViewData["Title"] = "Student";
}



<h2>Search student's Profile</h2>


<div class="row">
    <div class="col-md-8">
        <form asp-action="Student" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SearchFullName" class="control-label"></label>
                <input asp-for="SearchFullName" class="form-control" />
                <span asp-validation-for="SearchFullName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="search" class="btn btn-primary" />
            </div>
            <flash dismissable="true" />
        </form>
    </div>
</div>

<hr />

@if (Model.IsSearchSuccessful == true)
{
    <h4>@Model.SearchFullName profile details:</h4> 
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-3">
                    Date of birth
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    Phone number
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-3">
                    School class
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.SchoolClass)
                </dd>
            </dl>
        </div>

        <div class="col-md-4">
            <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="width:100%;height:auto;max-width:300px;max-height:450px;" />
        </div>
    </div>

}



