@model SearchStudentViewModel
@{
    ViewData["Title"] = "Student";
}



<h1>Search student's Profile</h1>


<div class="row">
    <div class="col-md-8">
        <form asp-action="Student" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SearchFullName" class="control-label"></label>
                <input asp-for="SearchFullName" class="form-control" />
                <span asp-validation-for="SearchFullName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="search" class="btn btn-action-primary" />
            </div>
            <flash dismissable="true" />
        </form>
    </div>
</div>

<hr />

@if (Model.IsSearchSuccessful == true)
{
    <h4>@Model.SearchFullName profile details:</h4> 
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-3">
                    Date of birth
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    Phone number
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-sm-3">
                    School class
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.SchoolClass)
                </dd>
            </dl>
        </div>

        <div class="col-md-4">
            <img src="@Url.Content(Model.ImageFullPath)" alt="Profile Image" class="img-fluid rounded-circle" style="width:200px; height:200px; object-fit:cover;" />
        </div>
    </div>

}

<div id="homonymDialog" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Homonym Students Found</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Multiple students were found with the name <strong>@Model.SearchFullName</strong>. Please select the correct student:</p>
                <ul class="list-group">
                    @foreach (var student in Model.HomonymStudents) //atribuir link da action a todos os estudantes encontrados
                    {
                        <li class="list-group-item">
                            <a href="@Url.Action("GetStudentById", "Search", new { studentId = student.Id })">
                                @student.FullName (@student.Email) @*mostrar email para distinguir*@
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @*Se o modelo indicar homônimos, exibir o modal*@ 
    <script type="text/javascript">
        $(document).ready(function () {
            
        @if (Model.HasHomonyms)
        {
            <text>
                        $('#homonymDialog').modal('show');
            </text>
        }
        });
    </script>

}

